<div>
  <div class="rounded-2xl bg-dark shadow p-1">
    <h2 class="mb-1">Crear Vino</h2>
    <div class="flex gap-1">
      <input
        type="text"
        placeholder="Nombre del vino"
        [(ngModel)]="wineFormData().name"
        (keyup.enter)="createWine()"
        class="p-1 rounded-xl border border-border grow"
      />
      <prt-button (btnClick)="createWine()" label="Crear" icon="add" />
    </div>
  </div>

  <div>
    <h2 class="text-center mt-4 mb-2 text-2xl">Lista de Vinos</h2>
      @if (wines().length > 0) {
        <div class="flex gap-1 flex-col">
          @for (wine of wines(); track wine.id) {
            <div
              class="bg-dark p-1 flex items-center justify-between rounded-2xl shadow"
            >
              <span>{{ wine.name }}</span>
              <prt-button
                (click)="deleteWine(wine.id)"
                icon="delete"
                variant="ghost"
              />
            </div>
          }
        </div>
      } @else {
        <p>No hay vinos registrados</p>
      }
  </div>
</div>
